@import './variables';


.About {
  // display: flex;
  // flex-wrap: wrap;
  display: grid;
  grid-template-columns: 1fr 0.8fr 0.1fr 1.5fr;
  grid-template-areas:
  "skills education networks aboutMe"
  "skills education networks aboutMe";

  gap: 20px;
  // min-height: 178px;
  // background: red;

  .card {
    padding: 20px 22px;
    border: $border900;
    box-shadow: $boxShadow;
    border-radius: $radius900;
    background-color: $c_light900;

    h3 {
      font-weight: 900;
      font-size: 18px;
      color: $c_dark900;
      text-transform: capitalize;
      margin-bottom: 15px;
    }
    
    &.skills {

      grid-area: skills;
      .container {
        display: flex;
        flex-wrap: wrap;
        gap: 5px;
        // max-width: 360px;
        overflow-y: scroll;
 
        span {
          font-size: 16px;
          font-weight: 900;
          color: $c_dark900;
          padding: 5px 10px;
          border: 4px solid $c_dark900;
          border-radius: $radius700;
        }
      }
    }

    &.education {
      // min-width: 318px;
      grid-area: education;
      .container {
        display: flex;
        gap: 0 15px;

        h4 {
          font-size: 16px;
          font-weight: 900;
          color: $c_dark900;
        }
        p {
          font-size: 14px;
          font-weight: 500;
          text-transform: capitalize;
          color: rgba($color: $c_dark900, $alpha: 0.5);
        }
      }
    }

    &.networks {
      width: 76px;
      grid-area: networks;
      .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 10px 0;
        height: 100%;

        svg {
          * {fill: $c_dark900;}
          transition: transform 0.2s;
          &:hover {
            transform: scale(1.2);
          }
        }
      }
    }

    &.aboutMe {
      // flex: 1;
      grid-area: aboutMe;
      // max-width: 800px;
      .container {
        p {
          font-size: 18px;
          font-style: italic;
          font-weight: 500;
          text-align: justified;
          color: rgba($color: $c_dark900, $alpha: 0.8);
        }
      }
    }
  }
}

@media only screen and (max-width: 1634px){
  .About {
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
    "skills education networks"
    "aboutMe aboutMe  aboutMe";
  }
}

@media only screen and (max-width: 960px){
  .About {
    display: grid;
    grid-template-columns: 1fr ;
    // justify-items:stretch;
    grid-template-areas:
    "education networks"
    "skills skills"
    "aboutMe aboutMe ";
  }
}

@media only screen and (max-width: 530px){
  .About {
    display: grid;
    grid-template-areas:
    "networks"
    "education"
    "skills"
    "aboutMe";

    .card.networks {
      width: auto;
      .container {
        flex-direction: row;
        justify-content: space-around;
        svg {
          width: 42px;
          height: 42px;
        }
      }
    }

    .card.education {

      .container {
        h4 {font-size: 14px;}
        p {font-size: 12px;}
      }
    }
  }
}