@import '../variables';

.Nav {
  display: flex;
  justify-content: center;
  align-items: center ;
  gap: 0 40px;
  height: 84px;
  background-color: $c_dark900;
  list-style-type: none;

  li {
    display: flex;
    position: relative;
    justify-content: center;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    color: $c_light900;
    z-index: 999;
    text-transform: uppercase;
    cursor: pointer;

    // transition: opacity $transition;
    // &:hover {opacity: 0.5;}

    // &.active::before {
    //   content: "";
    //   position: absolute;
    //   top: calc(100% + 10px);
    //   display: block;
    //   width: 45px;
    //   height: 3px;
    //   background-color: $c_active900;
    // }
  }
}



