@import '../variables';

.Nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 113px;
  gap: 10px;
  padding: 22px 20px;
  background:  $c_dark900;
  border-right: $border800;

  svg {
    * {fill: $c_light900}
  }

  @media only screen and (max-width:1024px) {
   width: 100%;
   height: 75px;
   border-right: none;
   border-bottom:  $border800;
  }
}