@import '../variables';

.Projects {
  display:grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;

  max-height: 900px;
  overflow-y: scroll;
  padding-bottom: 20px;

  .project {
    display: flex;
    flex-direction: column;
    height: 245px;
    border-radius: $radius900;
    border-bottom: 0.2px solid rgba($color:  $c_dark900, $alpha: 0.5);
    overflow: hidden;;
    
    &:hover .main > img{
      opacity: 0.8;
    }

    .main {
      flex: 1;
      background-color: dark;
      height: 189px;
      background-color: $c_dark900;
      overflow: hidden;
      cursor: pointer;
      img {
        width: 100%;
        opacity: 0.5;
        transition: opacity 0.3s;
      }
    }

    .footer {
      display: flex;
      gap: 20px;
      padding: 0 20px;
      position: relative;
      color: $c_dark900;
      background-color: $c_light900;
      height: 56px;
      box-shadow: 0 -20px 2vh -0.7vw rgba(0,0,0,0.3);
      .name {
        position: absolute;
        left:0;
        bottom:100%;
        padding: 10px;
        height: 39px;
        background-color: $c_light900;
        border-top-right-radius: $radius800;
        box-shadow: 0 -10px 2vh -0.7vw rgba(0,0,0,0.3);
        span {
          font-size: 16px;
          font-weight: 800;
        }
      }

      .network {
        display: flex;
        align-items: center;
        gap: 10px;
        font-size: 16px;
        font-weight: 800;
        color: $c_dark900;
        text-decoration: none;
        cursor: pointer;
        
        svg {
          * {fill: $c_dark900;}
          transition: 0.4s;
        }
        &:hover svg{
          transform: scale(1.2);

        }
      }
    }
  }

  @media only screen and (max-width:1640px) {
    grid-template-columns: repeat(3, 1fr);
  }

  @media only screen and (max-width:1120px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media only screen and (max-width:720px) {
    grid-template-columns: repeat(1, 1fr);
  }
}

