@import '../variables';

.Topbar {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;

  width: 100%;
  height: 75px;
  padding: 22px 20px;
  background-color:  $c_dark900;
  
  svg {
    * {fill: $c_light900}
  }
}

