$c_dark900: #1C1B24;
$c_dark800: #2F2E3A;

$c_purple900: #9DB9FF;

$cf_light900: #ffff;
$cf_dark900: #565567;

$navHeight: 75px;
$minWidth: 550px;

$offsetX: 61px;
$offsetY: 40px;
$radius900: 16px;
$radius800: 8px;


%BoxStyle1 {
  border: 1px solid rgba($color: $c_purple900, $alpha: 0.4);
  background: rgba($color: #2F2E3A, $alpha: 0.4);
  backdrop-filter: blur(23px);
  border-radius: $radius900;
}

%BoxStyle2 {
  background: #2F2E3A;
  border: 1px solid rgba(157, 185, 255, 0.17);
}
