$c_dark900: #242423;
$c_light900: #ffffff;
$c_background: #FFFF;

// $c_dark900: #3d405b;
// $c_light900: #f4f1de;
// $c_background: #81b29a;

$radius900: 12px;
$radius800: 6px;
$radius700: 4px;

$boxShadow:  0 0 10px -4px rgba(0,0,0,0.3);

$border900: 1px solid rgba($color: $c_dark900, $alpha: 0.2);
$border800: 2px solid rgba($color: #0000, $alpha: 0.2);