// @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import './variables';


* {
  margin:0;
  padding:0;
  box-sizing: border-box;
  // font-family: 'Roboto', sans-serif;
  letter-spacing: 0.06em;
  font-family: 'Reggae One', sans-serif;
  font-style: normal;
  letter-spacing: 0.06em;

  // -webkit-tap-highlight-color: rgba(0, 0, 0, 0); 

  // &::-webkit-scrollbar {
  //   position: relative;
  //   width: 10px;               /* ширина scrollbar */
  // }
  // &::-webkit-scrollbar-track {
  //   background: $c_light900;        /* цвет дорожки */
  // }
  // &::-webkit-scrollbar-thumb {
  //   border-radius: 20px;       /* закругления плашки */
  //   background-color: $c_dark900;
  //   border: 3px solid $c_dark900;  /* padding вокруг плашки */
  // }
}

#root {
  display: flex;
  flex-direction: column;
  position: relative;
  max-width: 1920px;
  min-width: 350px;


  max-height:968px;
  overflow: hidden;
  
  @media screen and (orientation:portrait) { 
    height: 100vh;
  }

  @media all and (orientation:landscape) {
    height: 100vw;
  }

  margin: auto;
  background: $c_background;


  & > main {
    width: 100%;
    height: 100%;
    margin:0 auto;
  }
}

*.unselectable {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}


a {text-decoration: none;}
ul {list-style-type: none;}


