@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import './variables';


* {
  margin:0;
  padding:0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;

  // &::-webkit-scrollbar {
  //   width: 5px;               /* ширина scrollbar */
  // }
  // &::-webkit-scrollbar-track {
  //   background: $c_dark800;        /* цвет дорожки */
  // }
  // &::-webkit-scrollbar-thumb {
  //   background-color: blue;    /* цвет плашки */
  //   border-radius: 20px;       /* закругления плашки */
  //   border: 3px solid $cf_dark900;  /* padding вокруг плашки */
  // }
}

html {background: $c_dark900;}
#root {
  display: flex;
  position: relative;
  max-width: 1920px;
  min-width: 350px;
  min-height: 100vh;
  margin: auto;
  background: $c_background;
  box-shadow: 10px 0 30px 10px rgba($color: #000000, $alpha: 0.6);

  main {
    width: min(1684px,95%);
    margin:0 auto;
    padding:0 20px;
    padding-top: 66px;
    // background: green;
  }

  @media only screen and (max-width:1024px) {
    flex-direction: column;
  }
}


ul {
  list-style-type: none;
}


