@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import './variables';


* {
  margin:0;
  padding:0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;

  &::-webkit-scrollbar {
    width: 5px;               /* ширина scrollbar */
  }
  &::-webkit-scrollbar-track {
    background: $c_dark800;        /* цвет дорожки */
  }
  &::-webkit-scrollbar-thumb {
    background-color: blue;    /* цвет плашки */
    border-radius: 20px;       /* закругления плашки */
    border: 3px solid $cf_dark900;  /* padding вокруг плашки */
  }
}

#root {
  position: relative;
  width: 100%;


  // width: 1920px;
  // height: 968px;
  // margin: auto;
  overflow: hidden;
  font-weight: 500;
  background-color: $c_dark900;
  color: $cf_light900;
  

  main {
    width: 100%;
    height: calc(100vh - #{$navHeight});
    padding-bottom: 20px;
  }
}


a {
  text-decoration: none;
  color: $cf_light900;
}

h1 {
  font-size: 76px;
  font-weight: 900;
  line-height: 93px;
}

ul {
  list-style-type: none;
}

.box_blur900 {
  background: rgba(36, 42, 57, 0.4);
  border: 1px solid $c_purple900;
  border-left:none;
  border-radius: $radius800;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  backdrop-filter: blur(7.5px);
}

.box_blur800 {
  background: rgba(0, 0, 0, 0.2);
  border: 1px solid rgba(157, 185, 255, 0.17);
  backdrop-filter: blur(23px);
}



@media only screen and (max-width: 1200px) {
  h1 {
    font-size: 56px;
    line-height: 63px;
  }
}

@media only screen and (max-width: 450px) {
  h1 {
    font-size: 40px;
    line-height: 53px;
  }
}