@import './variables';

.Home {
  display: flex;
  align-items: flex-start;
  padding-top: 100px;
  // width: 100%;
  height: 100%;
  background-image: url(../public/imgs/preview.png);
  background-size:cover;
  background-repeat: no-repeat;


  h1 {
    width: min(567px, 90%);
    margin-bottom: 22px;
  }

  p {
    width: 640px;
    font-size: 26px;
    font-style: italic;
    font-weight: 500;
    line-height: 1.4em;
  }

  // box_blur900
  & > .container {
    display: flex;
    flex-direction: column;

    width: min(852px, 100%);
   
    padding-top: 64px;
    padding-bottom: 40px;
    padding-left: $offsetX;
    padding-right: 40px;
    border-right: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;

     // box_blur800
    & > .container {
      display: flex;
      padding: 25px 25px;
    }
  }
}

