@import './variables';

.Portfolio {
  width: 100%;
  height: 100%;

  .container {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
    grid-auto-flow: dense;
    justify-items: self-start;
    
    padding: 0 $offsetX;
    margin: 0 auto;
    padding-top: 50px;

    overflow-y: scroll;
    width: calc( 100% - #{$offsetX});
    height: 100%;
  }

  .card {
    width: 450px;
    height: 250px;
    background-color: $c_dark800;
    box-shadow: 0 0 40px rgba(0,0,0,0.3);
    border-radius: $radius800;
    overflow: hidden;

    &_boxImg {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      height: calc( 100% - 60px);
      overflow: hidden;
      background: black;

     
      a {
        position: absolute;
        z-index: 10;
        transition: opacity 0.5s;

        h2 {
          font-size: 44px;
          font-style: italic;
          font-weight: 900;
         }
      }

      img {
        position: relative;
        width: 100%;
        opacity: 0.3;
        transition: opacity 0.5s;
      }

      &:hover {
        img {opacity: 0.5;}
        a {opacity: 0;}
      }
    }

    &_panel {
      display: flex;
      align-items: center;
      gap: 0 20px;
      padding: 0 20px;
      height: 60px;
      background-color: $c_dark800;

      a {
        display: flex;
        align-items: center;
        gap: 0 20px;
        font-weight: 16px;
        font-weight: 500;
        text-transform: uppercase;
        font-style: italic;
      }

      svg  {
        width: 34px;
        height: 34px;
        cursor: pointer;
        transition: 0.4s;
       
        * {fill: rgba($color: $c_purple900, $alpha: 0.2);}

        &:hover {
          transform: scale(1.2);
          * {
            fill: rgba($color: $c_purple900, $alpha: 0.8);
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 1035px) {
  .Portfolio {
    .container {
      grid-template-columns: 1fr;
    }

    .card {
      width: 100%;
    }
  }
}

@media only screen and (max-width: 450px) {
  .Portfolio {
    .card {
      &_boxImg a h2 {
        font-size: 32px;
      }
    }
  }
}


