@import '../variables';

.Projects {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  min-width: 100%;
  overflow-y: scroll;

  @extend %HomeProps;
  @extend %activSection;

  & > .wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 20px 0;
    justify-content: space-between;
    width: 100%;
    min-height: 100%;
  }

  .rightSide {
    width: 100%;
    min-height: 100%;
    & > .container {
      position: relative;
      display: grid;
      gap: 16px;
      grid-template-columns: repeat(auto-fill,min(491px, 100%));
      grid-template-rows: 260px;
      min-height: 100%;
    }

    .Project {
      position: relative;
      border-radius: $border900;
      width: 491px;
      height: 260px;

      .background {  
        width: 100%;
        height: 100%;
        overflow: hidden;

        img {
          max-width: 200%;
          min-width: 100%;

          max-height: 110%;
          min-height: 100%;

          transform: translateX(-16%);
        }  
      }

      &:hover {
        & > .panel {
          opacity: 1;
        }
      }

      & > .panel {
        opacity: 0;
        position: absolute;
        top:0;left:0;

        width: 100%;
        height: 100%;
        display: flex;
        gap: 17px 0;
        justify-content: flex-end;
        flex-direction: column;

        padding:20px;
        background-color: rgba($color: #000000, $alpha: 0.6);
        transition: $transition;
        cursor: pointer;

        & > .wrapper {
          display: flex;
          gap: 0 8.5px;
        }

        button {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 100%;
          height: 52px;

          font-size: 25px;
          font-weight: 400;
          line-height: 40px;
          border: none;
          border-radius: 0;

          a {
            width: 100%;
            height: 100%;
            color: $c_dark900;
            text-decoration: none;
          }

          a, &  {
    
            $color: $c_dark900;
            background-color: $c_light900;
            cursor: pointer;
            transition: color $transition;

            &:hover {
              color: $c_active900;
            }
          }
        }
      }
    }
  }

  @media  only screen and (max-width: 1820px){    
    // .particle {display: none;}
    .leftSide { padding-top: 20px;}

    .rightSide {
      padding-right: 0;
    }
  }

  @media  only screen and (max-width: 610px){
    .rightSide {      
      .Project {
        position: relative;
        width: 100%;
        & > .panel {
          padding: 20px 40px;
          button {
            height: 42px;
            font-size: 20px;
          }
        }
      }
    }
  }
}


