@font-face {
	font-family: 'Roboto'; 
	src:
    url(fonts/Roboto/Roboto-Light.ttf),
    url(fonts/Roboto/Roboto-MediumItalic.ttf),
    url(fonts/Roboto/Roboto-Medium.ttf),
    url(fonts/Roboto/Roboto-BlackItalic.ttf),
    url(fonts/Roboto/Roboto-Black.ttf),
    url(fonts/Roboto/Roboto-BoldItalic.ttf),
    url(fonts/Roboto/Roboto-Bold.ttf),
    url(fonts/Roboto/Roboto-ThinItalic.ttf),
    url(fonts/Roboto/Roboto-Thin.ttf),
    url(fonts/Roboto/Roboto-Italic.ttf ),
    url(fonts/Roboto/Roboto-Regular.ttf),
  ; 
}

@font-face {
	font-family: 'Reggae One'; 
	src: url(fonts/ReggaeOne-Regular.ttf);
  font-display: swap;
}

$c_dark900: #252825;
$c_light900: #FBF9F9;
$c_active900: #EE2929;
$c_background: $c_light900;

$radius900: 6px;
$transition: 0.2s;

$boxShadow:  none;

$border900: 2px solid rgba($color: $c_dark900, $alpha: 1);
$border800: 2px solid rgba($color: #000000, $alpha: 0.3);


%HomeProps {
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 20px;
  
  height: 100%;
  overflow-y: hidden;

  h2 {
    margin-top: 40px;
    margin-bottom:40px;
    font-size: 35px;
    font-weight: 400;
    line-height: 40px;
  }
}

%activSection {
  position: absolute;
  transform: translate(-100%);
  transition: transform 1s;
  background-color: $c_light900;

  &.activSection {
    transform: translate(0%);
  }
}