@import './variables';

* {
  margin:0;
  padding:0;
  box-sizing: border-box;
  letter-spacing: 0.06em;
  font-family: 'Reggae One', sans-serif;
  font-style: normal;
  letter-spacing: 0.06em;

  -webkit-tap-highlight-color: rgba(0, 0, 0, 0); 

  &::-webkit-scrollbar {
    position: relative;
    width: 3px;               /* ширина scrollbar */
  }
  &::-webkit-scrollbar-track {
    background: $c_light900;        /* цвет дорожки */
  }
  &::-webkit-scrollbar-thumb {
    border-radius: 20px;       /* закругления плашки */
    background-color: $c_dark900;
    border: 3px solid $c_dark900;  /* padding вокруг плашки */
  }
}


#root {
  display: flex;
  flex-direction: column;
  position: relative;
  max-width: 1920px;
  min-width: 350px;
  margin: auto;
  background: $c_background;
  overflow: hidden;

  @media screen and (orientation:portrait) { 
    $pageHSize: 100vh;
  }

  @media all and (orientation:landscape) {
    $pageHSize: 100vw;
    overflow-y: scroll;
  }

  & >  div {
    width: 100%;
    height: $pageHSize;
    margin:0 auto;
    background: green;
  }
}

*.unselectable {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}


a {text-decoration: none;}
ul {list-style-type: none;}


